body {
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.container {
  width: 600px;
  margin: auto;
  margin-top: 40px;
}

.chat-box {
  background: #020617;
  height: 400px;
  padding: 15px;
  overflow-y: auto;
  border-radius: 10px;
}

.user {
  text-align: right;
  color: #38bdf8;
  margin: 8px;
}

.bot {
  text-align: left;
  color: #a7f3d0;
  margin: 8px;
}

.input-box {
  display: flex;
  margin-top: 10px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px;
}
